@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.App{
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  .cat-box{
    h1{
      margin-top: 160px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .next-btn{
        font-size: 3rem;
    }
  }
}